* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  flex: 1;
}

.navbar-dark {
  .navbar-nav .nav-link,
  .navbar-brand,
  .navbar-text {
    color: #fff !important;
  }

  .navbar-nav .nav-link:hover {
    color: #d5d5d5 !important;
  }
}
