#voluntarios-page {
  .form-group {
    padding-bottom: 10px;
  }

  h1 {
    text-align: center;
    padding-bottom: 15px;
  }

  h1,
  h2 {
    font-weight: bold;
  }

  table {
    text-align: center;
  }
}
